.posts{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.5rem;
}

.post{
    background-color: rgba(233, 230, 230, 0.345);
    border-radius: 8px;
    padding: 0.5rem 1rem;
}


.post :first-child{
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}


.post :nth-child(2){
    font-size: 0.875rem;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 0.5rem;
}

.comment{
    border: 1px solid grey;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}